
@{
    ViewBag.Title = "Busqueda";
}
<gen-search-widget configId="00e977a3-379f-4cd3-bea7-eaf15663f21d"
                   triggerId="searchWidgetTrigger">
</gen-search-widget>
<!-- Element that opens the widget on click. It does not have to be an input -->

<label>Busqueda: </label>
 <br />
<input placeholder="Buscar aquí" id="searchWidgetTrigger"   />