name: Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Configurar Git para nombres largos
        run: git config --system core.longpaths true

      - name: Checkout código
        uses: actions/checkout@v4

      - name: Verificar archivos en el workspace
        run: Get-ChildItem -Path . -Recurse -ErrorAction Continue

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Restaurar paquetes NuGet
        run: nuget restore Sistema/SistemaEventos/SistemaEventos.sln

      - name: Instalar MSBuild
        uses: microsoft/setup-msbuild@v1.1

      - name: Verificar instalación de MSBuild
        run: where msbuild

      - name: Crear estructura de carpetas de salida
        run: mkdir -p Sistema/SistemaEventos/bin/Release/publish

      - name: Compilar solución
        run: msbuild Sistema/SistemaEventos/SistemaEventos.sln /p:Configuration=Release /p:DeployOnBuild=true /p:OutputPath=Sistema/SistemaEventos/bin/Release/publish

      - name: Publicar en Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: ./Sistema/SistemaEventos/bin/Release/publish
